# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# Backend
backend/node_modules/
backend/data/*.db

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.log
